body{
    margin: 10px;
    padding: 10px;
}

.grid{
    height: 420px;
    width: 420px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 15px;
    width: 15px;
}

.pac-dots{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: blue;
}

.power-pellet{
    background-color: green;
    border-radius: 7.5px;

}

.pacman{
    background-color: orange;
    border-radius: 7.5px;
    border: none;
}
.controller{
    margin: 2em 0 0;
    width: 50%;
    background-color: palegreen;
    border: 1px solid red;
}

.controller div{
    font-size: 6rem;
}
.left:hover, .up:hover, .down:hover, .right:hover{
    cursor: pointer;
}
.controller .up, .controller .down{
    text-align: center;
}
.controller .inline{
    display: flex;
    justify-content: space-between;
}

.blinky{
    background-color: red;
    border: none;
}
.inky{
    background-color: aqua;
    border: none;
}
.pinky{
    background-color: pink;
    border: none;
}
.clyde{
    background-color: orange;
    border: none;
}